In [5]:
import pandas as pd
df = pd.read_excel('dataupdate.xlsx', 'weather', index_col = "Day" )

In [6]:
df

       Temperature  WindSpeed    Event
Day
44166           30          9  แดดร้อน
44167           28          8   เมฆมาก
44168           27          4     ฝนตก
44169           19          3  แดดร้อน
44170           20          5   เมฆมาก
44171           25          6     ฝนตก
44172           36          4     ฝนตก
44173           28          6     ฝนตก
44174           17          5   เมฆมาก
44175           24          6  แดดร้อน
44176           26          4     ฝนตก
44177           27          9  แดดร้อน
44178           30          2  แดดร้อน
44179           31          5   เมฆมาก
44180           28          4  แดดร้อน
44181           27          7  แดดร้อน
44182           20          8     ฝนตก
44183           18          5     ฝนตก
44184           25          7  แดดร้อน
44185           28          4   เมฆมาก
44186           25          5   เมฆมาก
44187           38          2   เมฆมาก
44188           34          3     ฝนตก
44189           29          4     ฝนตก
44190           34          5  แดดร้อน
44191           25          8     ฝนตก
44192           28          9   เมฆมาก
44193           30          2   เมฆมาก
44194           31          1     ฝนตก
44195           35          2     ฝนตก

In [7]:
df.Temperature[10:20] #การระบุช่วง

Day
44176    26
44177    27
44178    30
44179    31
44180    28
44181    27
44182    20
44183    18
44184    25
44185    28
Name: Temperature, dtype: int64

In [9]:
df[["Temperature","Event"]][1:3]

       Temperature   Event
Day
44167           28  เมฆมาก
44168           27    ฝนตก